@use 'sass:map';
@import './../../scss/variables';

.donor-search {
  background-color: $tis-dark-blue;
  .search-icon a {
    text-decoration: none;
  }
  .btn {
    --bs-btn-hover-border-color: white;
  }
}

.badge {
  &.flag-1 {
    --bs-border-color: #{$tis-orange};
  }
  &.flag-2 {
    --bs-border-color: #{$tis-dark-blue};
  }
  &.flag-3 {
    --bs-border-color: #{$tis-light-blue};
  }
}
