@use 'sass:map';
@import './../../scss/variables';

.el-preview-right {
  container: el-preview-right / inline-size;
}

.el-preview {
  h2 {
    font-size: calc(1.325rem + 1.1vw);
  }
  .thumb figure {
    margin: 0;
  }
}

@container el-preview-right (min-width: 450px) and (max-width: 539px) {
  .el-preview .hero-number {
    font-size: 52px;
  }
}
