@use 'sass:map';
@import 'variables';
@import 'bootstrap_custom';
@import 'volby-common';

// Default / Landing page header:
header {
  background-image: url('./../../public/img/parlament_2_color_1920_900.png');
  background-position-x: center;
  background-position-y: 20%;
}

// Subsite styling scope overrides
.subsite-euro-24 {
  header {
    background-image: url('./../../public/img/foto_europarlament_tasr_duotone_1920_1026.jpg');
    background-position-x: center;
    background-position-y: 20%;
  }

  .party-logo {
    @extend #{'.mw-100', '.mh-100'};
    a & {
      @extend .fade-image;
    }
    a:hover &,
    a:active &,
    a:focus & {
      @extend .unfade-image;
    }
  }

  .party-logo-link {
    h3 {
      color: $tis-orange;
      margin-bottom: 0;
    }
    &.hover-bg {
      &,
      &:hover {
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  figure.party-logo-inline {
    @extend #{'.flex-shrink-0', '.align-content-center', '.me-3', '.m-0'};
    height: 36px;
    width: 36px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.subsite-prezident-24 {
  header {
    background-image: url('./../../public/img/foto_palac_okraje_duotone_8_1920_900.jpg');
    background-position-x: center;
    background-position-y: 20%;
  }
}

.subsite-23 {
  header {
    background-image: url('./../../public/img/parlament_2_color_1920_900.png');
    background-position-x: center;
    background-position-y: 20%;
  }

  .party-logo {
    @extend #{'.mw-100', '.mh-100'};
    a & {
      @extend .fade-image;
    }
    a:hover &,
    a:active &,
    a:focus & {
      @extend .unfade-image;
    }
  }

  .party-logo-link {
    &:hover,
    &:active,
    &:focus {
      img {
        filter: saturate(100%);
      }
    }
    figure {
      margin: 0;
    }
    img {
      width: 120px;
      max-width: 100%;
      @media (min-width: map.get($grid-breakpoints, 'xl')) {
        filter: saturate(25%);
      }
    }
    h3 {
      color: $tis-orange;
      margin-bottom: 0;
    }
    &.hover-bg {
      &,
      &:hover {
        padding-bottom: 0;
        padding-top: 0;
      }
      figure {
        width: 36px;
      }
    }
  }

  figure.party-logo-inline {
    @extend #{'.flex-shrink-0', '.align-content-center', '.me-3', '.m-0'};
    height: 36px;
    width: 36px;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.subsite-22, .subsite-26 {
  header {
    background-image: url('./../../public/img/samospravy_color_3_1920_900.png');
  }
}

